*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.nav-bar {
    height: 15vh;
    
}

.nav-item p:hover {

    cursor: pointer;

    
}
.nav-item img:hover {

    cursor: pointer;

    
}

.hero-text{
    font-size: 10vh;
    font-weight: 700;
    line-height:12vh;
}

.hover-effect div img {

    border-radius: 2rem;
}


.movingrow{
    background-color: rgb(71, 198, 244);
    
    rotate: -1deg;
    position: relative;
    z-index: 1;
}
.movingrow2{
    rotate: 1deg;
    position: relative;
    z-index: 20;
}

.bestsellers{
    font-size: 5rem;
    font-weight: 800;
}
.rotateparent{
    overflow: hidden;
    position: relative;
    background-color: #0061F4;
    border-radius: 2rem;
}





.rotateparent button {

    position: absolute;
    top: 75%;
    left: 75%;
    
    
    
    
  
    
    
   
}
.seeproduct{
    margin-top: 6rem;
}


.curvebox{
    background-color: #3168C5;
    color: white;

    margin-top: 3rem;

    
}

.curvebox video{
    border-radius: 2rem;
}

.bg-image{
    width: 100%;
    height: 135vh;

    background-image: url(https://www.wellandwell.fr/cdn/shop/files/Savon_mains.jpg?v=1721908231&width=1512);
    background-repeat: no-repeat;
    background-size: cover;
}

.productpara{

    font-size: 10vh;
    font-weight: 800;
}
.productshowbox{

    width: 72%;
    height: 50vh;
    padding: 3rem;
    border: 1px solid white;
    border-radius: 2rem;
    line-height: normal;

    background-color: rgba(255,255,255,0.3);
}
.fontsize{

    font-size: 3vw;
    font-weight: 800;
}

.movingrow{
    overflow: hidden;
    white-space: nowrap;

}


.movingslider{
    display: inline-block;
    font-size: 5rem;
    font-weight: 800;
    transform: translateX(-200);
    
}
.movingrow2{
    overflow: hidden;
    white-space: nowrap;

}


.movingslider2{
    display: inline-block;
    font-size: 5rem;
    font-weight: 800;
    transform: translateX(-100);
    
}
.categoriecontainer{
    position: relative;
}

.categoriecontainer img{
    border-radius: 1rem;
}

.categoriecontainer p {
    position: absolute;
    top: 80%;
    left: 8%;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    width: 5vh;
}
.categoriecontainer button {
    position: absolute;
    top: 80%;
    left: 70%;
    
}
.servicepara{
    font-size: 4rem;
    font-weight: 800;
    position: relative;
    left: 60%;
    
}
.simleimg{
    position: relative;
    
    right: -20%;
}

.services{

    background-color: white;
    height: 35vh;
    width: 45vh;
    text-align: center;
    

    white-space: wrap;
    
    padding-top: 2rem;

    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 1rem;
}
.services p {
 margin-top: 2rem;
}
.thumb{

    position: relative;
    top: -108vh;
    right: -45%;
}
.footerancher a{

    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;

}
.footerancher a:hover{
    color: wheat;
    text-decoration: underline;
    
}
.Copyright a {

    text-decoration: none;
    color: white;


}
.Copyright a:hover{
    text-decoration: underline;
    color: wheat;
}

#already{
    white-space: nowrap;
}